<h1 align="center">WELCOME TO HOUSING SOCIETY MANAGEMENT SYSTEM</h1>

<div id="section2">
<%= link_to("Log in as Admin", :controller => 'owners') %>
<%= link_to("Log in as User", :controller => 'sessions') %>
<p> Thank you for visiting our web site.  We hope that you will find the information you are looking for regarding County services here.</p>


<p>We recognize that many people use the internet to research and find information.  Our goal is to use this web site to help provide that point of access.  We also know that people want to be able to talk to an individual when they need assistance.  Contact information, including names and phone numbers, are included for each County department in the Directory section of this web site.</p>

<p>We believe customer service is critical and always strive to constantly improve our efforts.  This web site is not meant to decrease our interaction with the public.  It is meant to enhance it.  Please let us know how we can continue to improve this web site and provide you the information you need.</p>

<p>Our new web site is designed to be updated individually by departments.  Please be patient with us as we continue to learn and refine this process and again, thank you for visiting.</p>

</div>
